body{
  background: url(./img/Фон\ 1.png) no-repeat fixed center center;
  background-size: cover;
  width: 100%;
  margin: auto;
}
header{
    background: rgba(0, 0, 0, 0.5);
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 0 79px;
}
.logo{
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 22px;
color: #FFFFFF;
text-transform: uppercase;
}
.logo:hover{
    color: #016e36;
}
header a{
    display: block;
    width: 24px;
}
.r-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.r-header-a{
   margin-right: 25px;
}
.svg-1:hover path{
    opacity: 1;
    fill: #016e36;
  }
  .svg-2:hover path{
    opacity: 1;
    fill: #016e36;
  }
  .svg-3:hover path{
    opacity: 1;
    fill: #016e36;
  }
  .border{
    position: relative;
  }
  .border:after{
    content: "";
    display: block;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;
    right: -25px;
    top: 2px;
  }
.welcome{
   
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 53px;
    position: relative;
}
.welcome-hover{
    text-decoration: none;
    color: #FFFFFF;
}
.welcome-hover:hover{
    color: #016e36;
}
main{
    display: block;
    background-color: rgb(255, 255, 255);
    width: 444px;
    margin: auto;
    margin-top: 54px;
}
.main-wrap{
    display: block;
    margin: auto;
    padding: 0 60px;
    margin-bottom: 100px;

}
.top-main   {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
}
.sign-up::before{
    content: "";
    position: absolute;
width: 18px;
height: 18px;
left: -60px;

background: #3CB878;
}
.sign-up{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #434343;
position: relative;
}
.log-in{
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
text-decoration: none;
color: #3CB878;
position: relative;
top: 6px;
}
.log-in:hover{
    text-decoration: underline;
    color: #01813F;
}
.links{
    display: flex;
gap: 4px;
}
.facebook{
    display: flex;
    width: 160px;
height: 48px;
background: #305DB8;
margin-top: 15px;
justify-content: center;
align-items: center;
text-decoration: none;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
border-radius: 3px;
}
.facebook:hover{
    background: #022263;
}
.google{
    display: flex;
    width: 160px;
    height: 48px;
    justify-content: center;
align-items: center;
    background: #DF4A32;
    margin-top: 15px;
    text-decoration: none;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
border-radius: 3%;
}
.google:hover{
   background: #AB1F09;
}
.button-text{
padding-left: 37px;
position: relative;
}
.button-text::before{
    content: "";
    width: 1px;
height: 28px;
position: absolute;
left: -18px;
background: #0A162F;
opacity: 0.1;
top: -5px;
left: 18px;
}
.or{
    text-align: center;
    margin-top: 31px;
    margin-bottom: 12px;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
color: #848484;
gap: 5px;
}
.or::before{
 content: "";
 width: 150px;
 border: 1px solid #F2F2F2;
 display: flex;
 position: relative;
 top: 9px;
 left: 0px;
}
.or::after{
    content: "";
    width: 150px;
    border: 1px solid #F2F2F2;
    position: relative;
    display: flex;
    bottom: 6px;
    right: -171px;
}

input:focus {
        outline: none;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
border-radius: 4px;
}
  
input[type="text"]{
    display: block;
    width: 300px;
    height: 44.08px;
margin-bottom: 15px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
padding-left: 20px;
border: 1px solid #F2F2F2;
border-radius: 4px;
}
input[type="text"]:active{
    box-shadow: 0px 3px 8px rgba(249, 249, 249, 0.21);
    
}
input[type="password"]{
    display: block;
    width: 300px;
    height: 44.08px;
margin-bottom: 15px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
padding-left: 20px;
border: 1px solid #F2F2F2;
border-radius: 4px;
}

.checkbox{
    display: flex;
    margin-bottom: 20px;
}
.agree-checkbox {
    display: none;
  }
  
  .agree-custom-check {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
border: 1px solid #F2F2F2;
    margin-right: 8px;
  }
  
  /*:checked - это псевдо-класс, в котором можно определить стили для checkbox-а, который будет отмечен. Если привязать стили другого элемента к стилям отмеченного checkbox-а, то они будут появляться только тогда, когда checkbox отмечен */
  .agree-checkbox:checked ~ .agree-custom-check { /* ~ отвечает за выбор среди элементов, которые в разметке идут после .agree-checkbox */
    background: url(./img/Vector\ 1.svg);
    background-size: cover;
    width: 20px; 
    height: 20px;
  } 
.check-text{
    display: block;
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #434343;
}
.check-text a{
    color: #3CB878;
    text-decoration: none;
}
.submit-wrap{
    padding-bottom: 38px;
}
.submit{
width: 324px;
height: 46px;
background: rgba(60, 184, 120, 0.8);
color: #FFFFFF;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
border-radius: 4px;
border-color: transparent;
}
.terms:hover{
    color: #01813F;
    text-decoration: underline;
}
.submit:hover{
    background-color: #01813F;
}
