body {
    min-width: 1200px;
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

header {
    background: rgba(94, 93, 88, 0.6);
    position: absolute;
    width: 100vw;
}

nav {
    max-width: 1160px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    padding: 26px 0;
    display: flex;
    align-items: center;
}

.letter {
    width: 58px;
    height: 34px;
    background: #18CFAB;
    position: relative;
    font-size: 40px;
    font-weight: 700;
    color: #FFF;
    line-height: 31px;
    text-align: center;
    font-family: 'Montserrat';

}

.letter:before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 16px solid #18CFAB;
}

.letter:after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 16px solid #18CFAB;
}

.right-nav {
    display: flex;

}

.ham {
    font-family: 'Montserrat';
    color: #FFF;
    font-size: 32px;
    line-height: 48px;
    padding-left: 6px;
}

.h2-span {
    color: #18CFAB;
    font-weight: 700;
}

.nav-list {
    display: flex;

}

.links {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    position: relative;
}

.padding {
    padding-right: 21px;
}

.links:hover {
    color: #18CFAB;
}

.underline:hover:before {
    content: '';
    display: inline-block;
    width: 56px;
    height: 2px;
    position: absolute;
    background-color: #18CFAB;
    top: 57px;
    left: 50%;
    transform: translateX(-50%);

}

.header-wrap {
    background-image: url(./img/Sections\ background/section-1\(header\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 1012px;
    text-align: center;
    margin-bottom: 8px;
}

.theme {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;

    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 380px;
}

.wordpress {
    color: #18CFAB;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 22px;
}

.header-discription {
    font-family: 'Montserrat';
    font-size: 34px;
    color: #D4D4D4;
    font-weight: 400;
    padding-top: 22px;
}

.buttons {
    padding-top: 134px;
}

.green-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    border-radius: 8px;
    box-shadow: 0 -5px 0 #FFF;
    background: #18CFAB;
    display: inline-block;
    width: 169px;
    height: 47px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 16px;
    margin-right: 26px;
}

.blue-btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    border-radius: 8px;
    box-shadow: 0 -5px 0 #FFF;
    background: #00CBF6;
    display: inline-block;
    width: 169px;
    height: 47px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 16px;
}

.top-icons {
    display: flex;
}

.icons {
    display: block;
    width: 482px;
    height: 377px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.green {
    background: #18CFAB;
    color: #FFFFFF;
}

.dark {
    background: #1C2A33;
    color: #18CFAB;
}

.photo-icon-green {
    padding-top: 96px;
}

.photo-icon-dark {
    padding-top: 85px;
}

.icons-text-dark {
    padding-bottom: 110px;
    padding-top: 47px;
}

.icons-text-green {
    padding-bottom: 110px;
    padding-top: 58px;
}

.services-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    margin-top: 84px;
    margin-bottom: 101px;
    position: relative;
}

.services-title:before {
    content: '';
    width: 75.54px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    top: 68px;
    left: 50%;
    transform: translateX(-40%);
}

.services-title::after {
    content: '';
    width: 75.54px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
}

.services-list {
    display: flex;
    justify-content: center;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15.9859px;
    line-height: 39px;
    width: 194px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.services:hover {
    border: 1.5px solid #18CFAB;
}

.selector-image {
    display: flex;
    width: 1160px;
    margin: auto;
    margin-top: 23px;
}

.selector-photos {
    width: 192px;
    height: 139px;
}

.selector-image-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    margin-left: 15px;
}

.hide {
    display: none;
}

.active {
    background: #18CFAB;
    color: #FFFFFF;
    position: relative;
}

.active::after {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    bottom: -5px;
    background-color: #18CFAB;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.section-2 {
    background: url(./img/Sections\ background/section-2.jpg);
    width: 100%;
    margin-top: 91px;
}

.section-2-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 127px;
}

.section-2-discription {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    padding-top: 13px;
    padding-bottom: 65px;
}

.section-2-button {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    border-radius: 8px;
    box-shadow: 0 -5px 0 #FFF;
    background: #18CFAB;
    display: inline-block;
    width: 169px;
    height: 47px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 16px;
    text-align: center;
}

.section-2-button-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 127px;
}

.images-net {
    background: #E9EDEF;
}

.images-net-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    padding-top: 95px;
    position: relative;
    padding-bottom: 97px;
}

.images-net-title:after {
    content: '';
    width: 75.54px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    bottom: 68px;
    left: 50%;
    transform: translateX(-50%);
}

.images-net-title::before {
    content: '';
    width: 75.54px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    bottom: 66px;
    left: 50%;
    transform: translateX(-40%);
}

.images-net-text-list {
    display: flex;
    justify-content: center;
}

.images-net-services {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    padding: 10px 15px;
    border: 1px solid #DADADA;
    min-width: 65px;
    margin-bottom: 70px;
    max-height: 58px;
    text-decoration: none;
}

.glow {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.images-net-image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1140px;
    margin: auto;
    padding-bottom: 70px;
}

.images-wrap {
    display: flex;

}

.image-net-li-images {
    display: inline-block;
    width: 285px;
    height: 206px;
    position: relative;
}

.image-net-li-images:hover img {
    display: none;
}

.hidden-div {
    display: none;
}

.image-net-li-images:hover .hidden-div {
    display: block;
}

.image-net-li-images:hover:before {
    content: '';
    display: block;
    width: 288px;
    height: 3px;
    background: #18CFAB;
}

.icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 42px;
    gap: 3px;
}

.icons-border {
    display: flex;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.square {
    width: 13px;
    height: 13px;
    border: 2px solid #18CFAB;
    left: 50%;
    transform: rotateX(-50%);
}

.hidden-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
    padding-top: 24px;
}

.hidden-discription {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
    text-align: center;
}

.icons-border:hover .square {
    background-color: #FFFFFF;
}

.icons-border:hover .hidden-svg path {
    fill: #FFFFFF;
}

.icons-border:hover {
    background: #18CFAB;
}

.section-3-button-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 99px;
}

.section-3-button {
    display: flex;
    width: 153px;
    height: 63px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    align-items: center;
    color: #FFFFFF;
    background: #18CFAB;
    border-radius: 5px;
    padding-left: 15px;
    position: relative;
    margin-top: 70px;
}

.section-3-button:before {
    content: '+';
    position: absolute;
    left: 22px;
    font-size: 25px;
}

.hidden-images {
    display: none;
}

.section-4-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    margin-top: 82px;
    position: relative;
}

.section-4 {
    background: #FFF;
    padding: 82px 0;
}

.section-4-wrapper {
    max-width: 1160px;
    margin: 0 auto;
}

.section-4-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}

.section-4-title:before {
    content: '';
    width: 75.54px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
}

.section-4-title:after {
    content: '';
    width: 75.54px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    top: 68px;
    left: 50%;
    transform: translateX(-40%);
}

.news-net {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-content {
    width: 263px;
    height: 283px;
    position: relative;
    margin-bottom: 44px;
}
.news-content:hover .news-title{
    color: #18CFAB;
}
.news-content:hover .news-date{
    background: #18CFAB;
}

.news-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
    padding-top: 16px;
    padding-left: 19px;
}

.news-autor {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    padding-top: 18px;
    padding-left: 18px;
    color: #777777;
}

.news-autor:after {
    content: '|';
    padding-left: 18px;
}

.news-comments {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    padding-top: 18px;
    padding-left: 18px;
    color: #777777;
}

.news-date {
    background: #203E38;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding-top: 16px;
    color: #FFFFFF;
    width: 70px;
    height: 68px;
    position: absolute;
    top: 0;
    right: 0px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #22353F;
    height: 121px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 26px;
color: #AEAEAE;
}
.footer-span{
   color: #18CFAB;
}