.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
  }
 
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 560px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(251, 79, 79);
    border-radius: 4px;
  
    .modal-close {
      position: absolute;
      right: 16px;
      top: 5px;
      vertical-align: middle;
      text-align: center;
      box-sizing: border-box;
      align-items: center;
      text-decoration: none !important;
      outline: none;
      border: none;
      user-select: none;
      background-color: transparent;
    }
  
    .modal-header {
        display: flex;
      margin-bottom: 24px;
      font-size: 20px;
      justify-content: start;
      margin-top: 0px;
      padding: 15px;
      background-color: rgb(247, 43, 43);
    }
  
    h4 {
      margin: 0;
    }
    .modal-main-text{
        text-align: center;
        margin: 0px 40px;
    }
  
    .modal-footer {
      margin-top: 24px;
      margin-bottom: 20px;
    }
  
    .button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: auto;
      .btn{
        width: 100px;
        background-color: rgb(129, 57, 57);
        color: white;
        text-decoration: none !important;
        outline: none;
        border: none;
        user-select: none;
      }
    }
  
    .input {
      .input-box {
        height: 41px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #c7cccf;
        padding: 0 16px;
        box-sizing: border-box;
        line-height: normal;
        font-size: 24px;
      }
    }
  }