body{
  background: url(./img/background\ 1.png) no-repeat fixed center center;
  background-size: cover;
  max-width: calc(1366px - 340px);
  width: 100%;
  margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
    margin-bottom: 17px;
}
.l-header{
  position: relative;
  display: flex;
  text-decoration: none;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 29px;
line-height: 29px;
color: #FFFFFF;
}
.title-discription {
  position: relative;
  margin-left: 8px;
}
.active{
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
}
.l-header:hover svg{
  background-image: url('./img/logo\ 2.svg');
  background-size: cover;
}
.l-header:hover rect{
  opacity: 0;
}
.l-header:hover{
  color: #F26522;
}
.r-header{
  text-decoration: none;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
}
.phone{
  position: relative;
  top: 14px;
  left: 75px;
}
.phone:hover{
  color: #F26522;
}
.email:hover{
  color: #F26522;
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 62px;
}
.image-1{
  display: block;
  width: 300px;
  height: 220px;
}
.link-image:hover .text-image{
  color: #F26522;
}
.image-2{
  display: block;
  width: 300px;
  height: 220px;
}
.image-3{
  display: block;
  width: 300px;
  height: 220px;
}
.image-4{
  display: block;
  width: 300px;
  height: 220px;
}
.image-5{
  display: block;
  width: 300px;
  height: 220px;
}
.image-6{
  display: block;
  width: 300px;
  height: 220px;
}
.link-image{
  display: block;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
.text-image{
  margin-top: 20px;
}
    .footer-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
text-align: center;
color: #FFFFFF;
margin-top: 49px;
margin-bottom: 15px;
    }
    .link-image {
      position: relative;
      display: inline-block;
    }
    
    .link-image::after {
      content: "from €50 View Details"; 
      position: absolute;
      bottom: 38px;
      left: 0;
      width: 100%;
      height: 0;
      background-color: #F26522;
      transition: height 0.3s ease-in-out;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .link-image:hover::after {
      height: 55px; 
    }
    
  
    
   
    
    
    