body{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    background-color: black;
    opacity: 90%;

}
.first-sect{
  margin: auto;
  
}
nav a{
margin-left: 1024px;
}
nav{
    display: flex;
    margin-top: 46px;
}
.wrap{
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
}
.logo{
    
    justify-content: start;
}
.call{
   
    justify-content: end;
    align-items: center;
    text-decoration: none;
    text-align: right;
    font-family: 'Circe';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #E4B564;

}
a img{
    position: relative;
    left: -10px;
}